<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" />
    <title>xsdValidate</title>
</head>
<body>
<H3>Hello my wolds</H3>

<form method="post" th:action="@{/xmlValidator.html}">
    <button type="submit">Validate xml with XSD</button>
</form>
<p th:text="${xsdMessage}"></p>
<p th:text="${xsdMessage1}"></p>


<form method="post" th:action="@{/xmlValidatorRng.html}">
    <button type="submit">Validate xml with rng</button>
</form>
<p th:text="${rngMessage}"></p>
<p th:text="${rngMessage1}"></p>
<br>
<!-- th:object="${User}"-->
<form method="post" th:action="@{/xmlSoapCities.html}">
    <label>Search Cities in Croatia</label>
    <input type="text" name="query" />
    <button type="submit">Search country city</button>
</form>

<div  th:unless="${#lists.isEmpty(countryList)}">


    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Population</th>
            <th>Capital</th>
            <th>Currency</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="country : ${countryList}">
            <td th:text="${{country.name}}"> </td>
            <td th:text="${country.population}"> </td>
            <td th:text="${{country.capital}}"> </td>
            <td th:text="${{country.currency.value()}}"> </td>


        </tr>
        </tbody>
    </table>
</div>



</body>

</html>