<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" />
    <title>xsdValidate</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        textarea {
            width: 300px;
            height: 200px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }
    </style>
</head>
<body>
<H3>Hello my wolds</H3>

<form method="post" th:action="@{/xmlValidator.html}">
    <button type="submit">Validate xml with XSD</button>
</form>
<p th:text="${xsdMessage}"></p>
<p th:text="${xsdMessage1}"></p>


<form method="post" th:action="@{/xmlValidatorRng.html}">
    <button type="submit">Validate xml with rng</button>
</form>
<p th:text="${rngMessage}"></p>
<p th:text="${rngMessage1}"></p>
<br>
<!-- th:object="${User}"-->
<form method="post" th:action="@{/xmlSoapCities.html}">
    <label>Search Countries in the World</label>
    <input type="text" name="query" />
    <button type="submit">Search country</button>
</form>

<div  th:unless="${#lists.isEmpty(countryList)}">
<h3>Results:</h3>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Population</th>
            <th>Capital</th>
            <th>Currency</th>
            <th>Area Size</th>
            <th>Total Cities</th>
            <th>Continent</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="country : ${countryList}">
            <td th:text="${{country.name}}"> </td>
            <td th:text="${country.population}"> </td>
            <td th:text="${{country.capital.name}}"> </td>
            <td th:text="|${{country.currency.name}} ${country.currency.code}|"> </td>
            <td th:text="${{country.areaSize}}"> </td>
            <td th:text="${{country.totalCities}}"> </td>
            <td th:text="${{country.continent.name}}"> </td>



        </tr>
        </tbody>
    </table>
    <div class="container">
        <h3>Xml results</h3>
        <p th:text="${countryXML}"> </p>W
    </div>

</div>



<form method="post" th:action="@{/searchXPath.html}">
    <label>Search Country with Xpath</label>
    <input type="text" value="/root/name" name="query" />
    <button type="submit">Search XML with XPath</button>
</form>
<p th:text="${xPath}"></p>
</body>

</html>